body{
  min-width: 650px;
}

#carouselbackdrop{
  opacity: 0.1;
  position: fixed;
  width: 100vw; 
  min-width: 1300px;
  z-index: -1
}

.carousel-item > img{
  zoom: 2;
  width: 110vw;
  height: 110vh;
}

.nav{
  position: relative;
  float: right;
  padding: 0 1rem 0 0;
}

.nav > img {
  height: 5rem;
  width: 5rem;
}

.title{
  display: block;
  margin: auto;
  text-align: center;
}

.title > h1{
  font-family: fantasy;
  font-size: 3rem;
}

.forms{
  margin-top: 5%;
  padding-top: 1rem;
  width: 50%;
  margin: auto;
  overflow: auto;
}

.jumbotron{
  background-color: rgba(122, 122, 122, 0.2);
}

.forms > h3{
  padding-top: 2rem;
  font-weight: bold;
}

.picturesearch{
  padding-top: 1rem;
  padding-bottom: 1rem
}

.query{
  margin-bottom: 1rem;
}

.pictureuploadform{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pictureupload{
  padding-bottom: 1rem;

}

.footer{
padding-right: 0.5rem;
position:sticky;
float:right;
bottom: 0;
}

.footer2{
padding-right: 0.5rem;
position:fixed;
right: 0;
bottom: 0;
}
